.section-seasons-block {
    .row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
        .image-block {
            @include backgroundCover;
            height: 20rem;
            justify-content: center;
            .style-text {
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                a{
                    color: $color-white;
                }
            }
            a.arrow {
color: $color-white;
text-align: right;
            }
        }
    }
}